/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header {
  width: 100%;
  background-color: #2E2F30;
  height: 50px;

}

body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  color: #e2e2e2;
}

.main_body {

  padding-left: 5%;
  padding-right: 5%;
}