/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 */
@import "../node_modules/bootstrap/scss/bootstrap";

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  color: #e2e2e2;
  min-height: 100%;
}

.profile_profile{
  width: 100%;
  height: 10rem;
}

.profile_left, .profile_right{
  width: 50%;
  float: left;
  text-align: center;
}

.profile_content{
  text-align: center;
}

.profile_content table{
  margin: 0 auto;
  text-align: center;
}

.profile_content h2{
  text-align: center;
}

label{
  margin: 0;
}

.btn-water-blue{
  background-color: #3fa7c9;
}

.btn-orange{
  background-color: #ffae00;
}

.icon-image{
  border-radius: 120px;
}

.pc-dsp { display:block; }
.sp-dsp { display:none; }

@media only screen and (max-width : 736px){
  .pc-dsp { display:none; }
  .sp-dsp { display:block; }
}
