// Place all the styles related to the live_houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.live_house_index table{
  margin: 0 auto;
}

.map_area{
  height: 400px;
}

#map{
  height: 90%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 50%;
}

.devise_form{
  width: 100%;
  min-height: 100%;
}

.devise_form table{
  margin: auto;
}