// Place all the styles related to the live_houses controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.live_house_index table{
  margin: 0 auto;
}

.map_area{
  height: 400px;
  width: 100%;
}

#map{
  height: 90%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 75%;
}
