// Place all the styles related to the root controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron{
  background-image: url("top3.jpg");
  background-size: cover;
  background-position: center 100%;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  min-height: 300px;
  width: 100vw;
}

.smoke {
  padding-left: 3%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
}

.opacity_bg-blue{
  background-color: rgba(70,70,255,0.45);
}

.hover_opacity_bg-blue:hover {
  background-color: rgba(70,70,255,0.45);
}