// Place all the styles related to the users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_profile{
  width: 100%;
  height: 10rem;
}

.user_name, .user_follow_bands{
  width: 50%;
  float: left;
  text-align: center;
}


.my_page_content table{
  margin: 0 auto;
  text-align: center;
}

.my_page_content h2{
  text-align: center;
}

.link_block{
  display:block;
  width: 100%;
  height: 100%;
}